body {
    background-image: url(../images/background.jpg);
}

.container {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color: #353535;
}


/*~>>>>>NAVIGATION<<<<< */

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(90, 57, 18, 0.8);
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    height: 10vh;
    text-shadow: 1px 0px 20px black;
    -webkit-box-shadow: 0px 10px 50px black;
    box-shadow: 0px 10px 50px black;
    z-index: 50;
    top: 0px;
    font-size: 1.5em;
}

.nav__item {
    -ms-flex-item-align: center;
    align-self: center;
    font-variant: small-caps;
    color: #FBE5CB;
}

.nav__item:hover {
    color: #f19830;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    ) -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.nav__item--left {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin: 0px 30px;
}

.nav__item--right {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 0px 30px;
}

.nav__item--logo {
    width: 90px;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 15px #FBE5CB inset;
    box-shadow: 1px 1px 15px #FBE5CB inset;
}


/*~>>>>>NAVIGATION-END<<<<< */


/*~>>>>>HEADER<<<<< */

.header__background {
    background-image: url("../images/mountains.jpg");
    min-height: 90vh;
    -webkit-box-shadow: 0px -2px 5px black inset;
    box-shadow: 0px -2px 5px black inset;
    background-position: 50% 60%;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header__text {
    color: #f19830;
    font-size: 3em;
    letter-spacing: 10px;
    padding-top: 10px;
    line-height: 150%;
    font-weight: 300;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
    align-self: flex-end;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.header__text>h3 {
    font-size: 0.50em;
    border-bottom: 3px solid #f19830;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
    letter-spacing: 10px;
    line-height: 90%;
    text-align: center;
    padding-bottom: 10px;
}


/*~>>>>>HEADER-END<<<<< */


/*~>>>>>ARTICLES<<<<< */

.article {
    text-align: justify;
    letter-spacing: 1.5px;
    line-height: 130%;
    margin: 10px auto;
    padding: 150px 0;
}

.article__exercises {
    background-image: url(../images/gory.jpg);
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.article__media {
    padding: 20px 0;
}

.article__clips {
    margin: 50px 0px;
}

.border--top {
    border-top: 5px #f19830 solid;
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;
}

.border--bottom {
    border-bottom: 5px #f19830 solid;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
}


/*~>>>>>ARTICLES-END<<<<< */

.content {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    width: 80%;
    padding: 20px 0px;
    text-align: center;
}

.content__image {
    float: left;
    margin-right: 20px;
    position: relative;
    bottom: 90px;
    left: 10px;
}

.content>h1 {
    font-size: 2em;
    text-align: center;
    padding: 30px 0;
}

.color__text {
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
    display: block;
    color: #f19830;
    font-size: 2em;
    font-family: 'Parisienne', cursive;
}

.color__text--alt {
    color: white;
}

.button {
    border: white solid 2px;
    background-color: rgba(0, 0, 0, 0.1);
    outline: none;
    color: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 75px;
    cursor: pointer;
    font-size: 1.5em;
    text-transform: capitalize;
    border-radius: 45px;
    -webkit-box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
    box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
    text-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.icon_content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 50px 0;
}

.icon {
    width: 25%;
    text-align: center;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1%;
}

.icon-fb {
    background-color: #3b5998;
}

.icon-fb:hover {
    background-color: #344E85;
}

.icon-yt {
    background-color: #cc181e;
}

.icon-yt:hover {
    background-color: #B3151A;
}

.icon-git {
    background-color: #57a6cc;
}

.icon-git:hover {
    background-color: #4C91B3;
}

.icon-git:nth-last-of-type(1) {
    background-color: #f88263;
}

.icon-git:nth-last-of-type(1):hover {
    background-color: #D97257;
}

.footer {
    text-align: center;
}
